nav {
  background-color: #4B54B3; }

nav img {
  width: 200px;
  height: 200px;
  background-color: #4B54B3; }

nav li {
  font-family: "Tahoma", Verdana, sans-serif;
  list-style-type: none;
  float: right;
  text-align: center;
  padding: 60px;
  text-decoration: none;
  font-size: 40px;
  border-radius: 4px; }

nav li a {
  padding: 10px;
  color: black; }

nav a:hover {
  padding: 10px;
  list-style-type: none;
  text-decoration: none;
  color: #f7c308; }

nav li a.active {
  padding: 10px;
  list-style-type: none;
  text-decoration: none;
  color: #f7c308; }

footer {
  text-align: center; }

.row img {
  width: 200px;
  height: 200px; }

.fa {
  padding: 40px;
  text-align: center;
  text-decoration: none; }

.fa:hover {
  opacity: 0.7; }

.fa-facebook {
  background: #4B54B3;
  color: white; }

.fa-instagram {
  background: #4B54B3;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px; }

.fa-yelp {
  background: #4B54B3;
  color: white; }

.mediabtn {
  font-size: 50px;
  float: left;
  padding-right: 40px; }

.mediabtn a {
  display: block; }

.contact {
  float: center;
  padding-right: 200px;
  padding-left: 200px;
  font-size: 40px; }

.contact h2 {
  font-size: 70px; }

.map {
  float: right; }

.map h2 {
  font-size: 70px; }

.title {
  font-size: 100px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px; }

.tagline {
  padding-top: 50px;
  padding-bottom: 50px; }

.tagline h2 {
  padding-top: 10px;
  padding-bottom: 10px; }

body {
  background-color: #FFEFB5; }

.history {
  margin-left: 50px; }

.nothistory {
  margin: 50px; }

.content {
  margin: 50px; }

.under {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 80%;
  height: 80%; }

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

h3 {
  text-align: center; }

@media (min-width: 768px) {
  .carousel-multi-item-2 .col-md-3 .row .tagline {
    float: left;
    width: 25%;
    max-width: 100%; } }

.carousel-multi-item-2 .card img {
  border-radius: 2px; }

.controls-top {
  text-align: center; }

.navbar-toggler {
  color: black; }

.navbar-brand .nav-link {
  color: black; }
